.appointment-title {
    background-color: #F2F2F2;
    padding: 100px 0;
  }

  .appointment-icon{
    min-width: 22px;
    min-height: 22px;
  }
  .icon-link{
    color: #535D71;
    letter-spacing: 1.5px;
    padding-bottom: 12px;
  }
  .active{
    color: #12D488;
  }
  /* .active .appointment-icon{
    min-width: 26px;
    min-height: 26px;
  } */

.service h5{
    color: #202c45;
}